<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="col-xs-12 col-md-6 w-100 h-100 d-table mx-auto">
    <div class="modal-dialog d-table-cell align-middle" role="document">
      <div class="modal-content py-5">
        <div class="modal-body text-center">
          <input class="form-text w-75 d-inline-block my-4" type="number"  ng-model="$ctrl.zipcode"  placeholder="enter zipcode...">
          
          <div id="radioArea" class="my-3">
            <p>area in miles</p>
            <label class="custom-control custom-radio">
            <input id="radio1" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">10</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">20</span>
          </label>
          <label class="custom-control custom-radio">
            <input id="radio2" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">30</span>
          </label>
          </div>
          
          <button  ng-click="$ctrl.zipSubmit()" id="zipbtn" type="button" class="btn w-50">Go</button>
        </div>
      </div>
    </div>
  </div>
</div>