
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,900');

$title-font: 'Montserrat', sans-serif;

$icon-colors: #374a5c;

body {
   margin: 0; 
   height: 100%; 
   // overflow: hidden;
   font-family: $title-font;
}

.title, h1 {
   font-size: 2.4em;
   font-family: $title-font;
   font-weight: 900;
   text-transform: uppercase;
}

#food, #movies, #random, #events {
   height: 20.1vh;
   display: table;
}

.category {
   
   a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
   }

   i {
      color: #374a5c;
      font-size: 2.75em;
      margin-right: .2em;
   }

   h1 {
      color: white;
      text-transform: uppercase;
      display: inline-block;
      font-size: 2.75em;
      vertical-align: sub;
      letter-spacing: 2px;
   }
}

.dataList {
   h2 {
      font-family: $title-font;
      font-weight: 900;
      color: #db5f4a;
   }
   
   address, li, a {
      font-weight: 400;
      color: #374a5c;
   }

   li {
      font-size: .9em;
      font-style: italic;
      font-weight: 300;
   }

   li:after {
      content: '|';
      padding-left: 10px;
   }

   li:last-child:after{
      content: none;
   }


}