@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

$title-font: 'Montserrat', sans-serif;

$icon-colors: #374a5c;

body {
   margin: 0; 
   height: 100%; 
   overflow: hidden
}

.title, h1 {
   font-size: 2.4em;
   font-family: $title-font;
   text-transform: uppercase;
}

#food, #movies, #random, #events {
   height: 20.1vh;
   display: table;
}

.category {
   

   a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
   }

   i {
      color: #374a5c;
      font-size: 2.75em;
      margin-right: .2em;
   }

   h1 {
      color: white;
      text-transform: uppercase;
      display: inline-block;
      font-size: 2.75em;
      vertical-align: sub;
      letter-spacing: 2px;
   }
}