<div class="col">
  <div class="row">
    <div ng-click='$ctrl.sharedFn($event)' id="food" class="col">
      <a href="#">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <h1>Food</h1>
      </a>
    </div>
  </div>
  <div ng-hide='$ctrl.$rootScope.currMenuItem !== "food"' class="row">
    <div id="restaurants" class="dataList col text-center mt-3">
      <div class="restaurant mb-5" ng-repeat="place in $ctrl.restaurants[0]">
        <h2 class="m-0">{{place.venue.name}}</h2>
          <ul class="list-inline m-0">
            <li class="list-inline-item">{{place.venue.price.message}}</li>
            <li class="list-inline-item">{{place.venue.categories[0].shortName}}</li>
            <li class="list-inline-item">{{place.venue.rating}}</li>
          </ul>
          <a class="d-block" href="{{place.venue.url}}">website</a>
          <address>{{place.venue.location.address}}, {{place.venue.location.city}}</address>  
      </div>
    </div>
  </div>
</div>